.container {
  margin: 0;
  padding: 0;
}

.contactContainer {
  background-color: #919692;
  margin: 0 4%;
  padding: 2% 0 1%;
}

h4 {
  font-family: "Ubuntu", sans-serif;
  font-style: italic;
  font-size: 18px;
  color: #ddcabd;
}

.p-contact {
  color: #ddcabd;
  font-size: 18px;
  margin-bottom: 0.5rem;
}

.img-container {
  background-color: #919692;
  opacity: 0.5;
  border-radius: 5%;
}

.col-pad {
  padding: 5% 10%;
}

@media (max-width: 576px) {
  .col-contact {
    padding-top: 10%;
  }

  .col-pad {
    padding: 5% 5% 5% 10%;
  }

  h4 {
    font-size: 17px;
  }

  .p-contact {
    font-size: 16px;
  }
}
