.container {
  margin: 0;
  padding: 0;
}

.homeScreenContainer {
  background-color: #e4dbd5;
  margin: 0 4%;
}

.homeScreenImg1 {
  width: 100%;
  padding: 5% 0;
}

.homeScreenImg2 {
  padding-top: 20%;
}

.main-text {
  margin-left: -5%;
}

.homeScreenImg2-col {
  margin-left: 5%;
  padding-right: 0.55%;
}

.homeScreenBtn {
  color: #9b918b;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  text-underline-offset: 5px;
}

.homeScreenBtn:hover {
  color: #978457;
}

.h1-homeScreen {
  letter-spacing: 6px;
  width: 200%;
  margin-bottom: 10%;
}

@media (max-width: 576px) {
  .homeScreenContainer {
    padding-bottom: 5%;
  }

  .homeScreenImg1 {
    width: 75%;
  }

  .h1-homeScreen {
    letter-spacing: 6px;
    width: 100%;
    margin-bottom: 10%;
  }

  .main-text {
    text-align: end !important;
    margin-left: 0;
    padding-right: 5%;
  }

  .homeScreenImg2 {
    display: none;
  }
}
