h3 {
  font-family: "Ubuntu", sans-serif;
  font-style: italic;
  font-size: 20px;
  color: #9b918b;
}

p {
  font-size: 20px;
  color: #9b918b;
}

.container {
  margin: 0;
  padding: 0;
}

.pricesContainer {
  background-color: #f1eae5;
  margin: 0 4%;
  padding-top: 5%;
}

.h1-prices {
  font-size: 60px;
  letter-spacing: 6px;
  margin-top: -30px;
  margin-left: 5%;
}

.col-prices-img {
  padding-right: 0.55%;
}

.pricesImg {
  width: 80%;
}

@media (max-width: 576px) {
  .pricesImg {
    width: 70%;
  }

  .col-prices-img {
    padding-top: 10%;
    padding-right: 2.5%;
  }
}
